.about-me {
    display: block;
    text-align: center;
    margin: 30px;
}

.about-me h2 {
    letter-spacing: 2px;
    font-size: 2rem;
}

.about-me p {
    font-size: 1rem;
}

.know-me h3{
    font-size: 1.35rem;
}