header {
    text-align: center;
    padding: 20px;
    height: 100vh;
    background-image: src("squering.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}


.header-part {
    margin: 10%;
    color: black;
}

header h1 {
    font-size: 3em;
}

.btn-project {
    display: inline-block;
    padding: 10px 20px;
    margin-top: 20px;
    background-color: rgb(150, 0, 130);
    color: white;
    text-decoration: none;
    border-radius: 5px;
}